<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FMWKTemplate 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>FMWKTemplate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE101C7B1AE417F300BA8F5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE101C861AE417F300BA8F5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE101C9C1AE4185500BA8F5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE101CA61AE4185500BA8F5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
